{% load crispy_forms_tags %}

{{ componenti_formset.management_form }}

<div id="formset-container">
    {% for form in componenti_formset %}
        <div class="componente-form-row row mb-3 align-items-center border-bottom pb-2">
            {{ form.id }}
            <div class="col-md-3">{{ form.nome_componente|as_crispy_field }}</div>
            <div class="col-md-2">{{ form.unita_misura|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.colore|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.note|as_crispy_field }}</div>
            <div class="col-md-1 text-center">
                {% if formset.can_delete %}
                    <div style="display: none;">{{ form.DELETE }}</div>
                    <button type="button" class="btn btn-outline-danger btn-sm remove-row-btn" title="Rimuovi">
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<template id="empty-form-template">
    {% with componenti_formset.empty_form as form %}
        <div class="componente-form-row row mb-3 align-items-center border-bottom pb-2">
            {{ form.id }}
            <div class="col-md-3">{{ form.nome_componente|as_crispy_field }}</div>
            <div class="col-md-2">{{ form.unita_misura|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.colore|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.note|as_crispy_field }}</div>
            <div class="col-md-1 text-center">
                {% if formset.can_delete %}
                    <div style="display: none;">{{ form.DELETE }}</div>
                    <button type="button" class="btn btn-outline-danger btn-sm remove-row-btn" title="Rimuovi">
                        <i class="fas fa-trash"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endwith %}
</template>

<div class="mt-2">
    <button type="button" class="btn btn-outline-success btn-sm add-row-btn">
        <i class="fas fa-plus"></i> Aggiungi Componente
    </button>
</div>