{% load i18n %}
{% autoescape off %}
{% blocktrans %}Hai richiesto il reset della password per il tuo account su {{ site_name }}.{% endblocktrans %}

{% trans "Per favore vai alla seguente pagina e scegli una nuova password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Il tuo username, nel caso te ne fossi dimenticato:" %} {{ user.get_username }}

{% trans "Grazie per usare il nostro sito!" %}

{% blocktrans %}Il team di {{ site_name }}{% endblocktrans %}
{% endautoescape %}